.sketchList {
  .sketchListItem {
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;

    div {
      padding: 5px;
      display: flex;
      justify-content: space-between;
      width: 90%;

      p {
        display: inline;
      }
  
      .sketchDate {
        display: inline;
      }
    }


    mat-icon {
      display: inline;
      margin-left: 4px;

      &:hover {
        color: red;
      }
    }
  }
}
