<div>
    <div *ngIf="selectedObject.type != 'polygon'" class="position-wrapper">
        <div class="position-group">
            <div class="position-input">
                <span>X:</span>
                <input type="number" [value]="getPosition(0, 'x')"  (change)="updatePosition(0, 'x', $event.srcElement.value)">
            </div>
    
            <div class="position-input">
                <span>W:</span>
                <input type="number" [value]="getPosition(1, 'x')"  (change)="updatePosition(1, 'x', $event.srcElement.value)">
            </div>
        </div>
        <div class="position-group">
            <div class="position-input">
                <span>Y:</span>
                <input type="number" [value]="getPosition(0, 'y')"  (change)="updatePosition(0, 'y', $event.srcElement.value)">
            </div>
    
            <div class="position-input">
                <span>H:</span>
                <input type="number" [value]="getPosition(1, 'y')"  (change)="updatePosition(1, 'y', $event.srcElement.value)">
            </div>
        </div>
    </div>
    <div class="color">
        <div class="colorPreview"
        [style.backgroundColor]="color"
        [cpPosition]="'bottom'"
        [cpPositionOffset]="'50%'"
        [cpPositionRelativeToArrow]="true"
        [cpAlphaChannel]="false"
        (colorPickerChange)="updateColor($event)"
        [(colorPicker)]="color"></div>
        <p>Color</p>
    </div>
    <mat-checkbox [checked]="selectedObject.isLocked" (change)="toggleObjectLock()">Locked</mat-checkbox>
    <!-- 
        <mat-checkbox [checked]="selectedObject.style.outline" (change)="updateObjectStyling('outline', $event)">Outline</mat-checkbox>
    -->


</div>
