<div id="editor-canvas"></div>

<div class="toolSelectionContainer">
    <app-tool-selection (toolChange)="changeTool($event)" [value]="_selectedTool">
        <button mat-raised-button title="Selection Tool" value="select"> <img src="assets/button-icons/cursor.svg"> </button>
        <button mat-raised-button title="Box Tool" value="box"> <img src="assets/button-icons/square-shape.svg"> </button>
        <button mat-raised-button title="Ellipse Tool" value="ellipse"> <img src="assets/button-icons/circle-shape.svg"> </button>
        <button mat-raised-button title="Polygon Tool" value="polygon"> <img src="assets/button-icons/polygon-shape.svg"> </button>
    </app-tool-selection>

    <mat-divider></mat-divider>

    <div class="buttonContainer">
        <button mat-raised-button title="Save" (click)="saveCode();"> <mat-icon>save</mat-icon> </button>
        <button mat-raised-button title="Compile Code" (click)="compile();"> <mat-icon>code</mat-icon> </button>
        <button mat-raised-button title="Settings" (click)="openSettings();"> <img src="assets/button-icons/settings.svg"> </button>
    </div>
</div>


<div class="rightSidebar">
    <div class="objectStack">
        <ul class="objectStackList" cdkDropList (cdkDropListDropped)="drop($event)">
            <li cdkDrag *ngFor="let object of objectStack" (click)="objectStackClickHandler(object.getId())" [class.selected]="object.selected">
                <p>{{ object.getType() | titlecase }}</p>
                <mat-icon *ngIf="object.isLocked" [inline]="true">lock</mat-icon>
            </li>
        </ul>
    </div>
    <div class="objectManipulater">
        <app-object-manipulator *ngIf="objectThatShouldBeEdited; else noObjectSelected" [selectedObject]="objectThatShouldBeEdited">
        </app-object-manipulator>

        <ng-template #noObjectSelected>
            <h1>No Object Selected</h1>
            <p>Select an object using the selection tool</p>
        </ng-template>
    </div>
</div>

<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
<ng-keyboard-shortcuts-help [key]="'f1'" [closeKey]="'escape'" [title]="'Help'"></ng-keyboard-shortcuts-help>