#editor-canvas {
  display: block;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toolSelectionContainer {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 75px;
  width: fit-content;

  mat-button-toggle-group {
    width: 100%;

    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .buttonContainer {
    margin: 15px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;

    button {
      width: 100%;
      padding: 0px;
      margin: 2px 0px;
    }
  }
}
