<div id="editor-canvas"></div>

<div class="toolSelectionContainer">
    <app-tool-selection (toolChange)="changeTool($event)" [value]="_selectedTool">
        <button mat-raised-button title="Selection Tool" value="select"> <img src="assets/button-icons/cursor.svg"> </button>
        <button mat-raised-button title="Box Tool" value="box"> <img src="assets/button-icons/square-shape.svg"> </button>
        <button mat-raised-button title="Ellipse Tool" disabled> <img src="assets/button-icons/circle-shape.svg"> </button>
        <button mat-raised-button title="Polygon Tool" disabled> <img src="assets/button-icons/polygon-shape.svg"> </button>
    </app-tool-selection>

    <div class="buttonContainer">
        <button mat-raised-button>Save</button>
        <button mat-raised-button>Get code</button>
    </div>
</div>


<div class="rightSidebar">
    <div class="objectStack">
        <ul class="objectStackList" cdkDropList (cdkDropListDropped)="drop($event)">
            <li cdkDrag *ngFor="let object of objectStack" (click)="objectStackClickHandler(object.getId())" [class.selected]="object.selected">
                {{ object.getType() | titlecase }}
            </li>
        </ul>
    </div>
    <div class="objectManipulater">
        <app-object-manipulator *ngIf="objectThatShouldBeEdited; else noObjectSelected" [selectedObject]="objectThatShouldBeEdited">
        </app-object-manipulator>

        <ng-template #noObjectSelected>
            <h1>No Object Selected</h1>
            <p>Select an object using the selection tool</p>
        </ng-template>
    </div>
</div>
